.container , .inner{
    border: 2px;
    height: 200px;
    width: 200px;
    border: 2px solid darkgoldenrod;
    padding: 5px;
    margin: 2dp;
}
.container{
    background-color: wheat;

}
.inner{
    background-color: maroon;
    transform: rotate(30deg) scale(.75) translate(50px);
    
}
